:root {
    --cor-primaria: #253D81;
    --cor-secundaria: #FFD118;
    --cor-de-fundo: #FAFAFA;
    --cor-clara: #6B7280;
    --cor-divisor: #CFCFCF;

    --fonte-principal: 'montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
}


